<div class="card">
  <div class="card-body">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <span>({{format_date created_at}}) by {{user.username}}</span>
        <p>{{post_content}}</p>
  </div>
</div>